<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEPLOY" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/vertx/deploy.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="off"/>
    <logger name="org.hibernate" level="off"/>
    <logger name="nl.malmberg.edubase.util.mongo" level="off" />
    <logger name="org.apache.http" level="off"/>
    <logger name="nl.jpoint" level="INFO" additivity="false">
        <appender-ref ref="DEPLOY"/>
    </logger>

    <root level="TRACE">
        <appender-ref ref="FILE"/>
    </root>
</configuration>