<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/vertx/deploy.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="io.netty" level="off"/>
    <logger name="org.hibernate" level="off"/>
    <logger name="org.sonatype.aether" level="off" />

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>