<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>



    <logger name="io.netty" level="off"/>
    <logger name="org.hibernate" level="off"/>
    <logger name="org.apache" level="off"/>
    <logger name="org.sonatype.aether" level="off"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>