<configuration scan="true">
    <appender name="DEPLOY-FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/vertx/deploy.json</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="io.netty" level="off"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DEPLOY-FILE"/>
    </root>
</configuration>